body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.details-subtitle {
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 3px;
  width: fit-content;
}

#navigation {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#web-name {
  color: white;
  padding: 5px 0px 5px 90px;
}

#search {
  padding: 5px 90px 5px 0px;;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 20px 90px
}

#movie-info {
  display: flex;
}

#movie-info-img {
  margin-right: 20px;
  height: auto;
}

#movie-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#movie-info-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  height: 340px;
}
.photo-header {
  width: 120px;
  text-align: center;
}
.photo-container{
  display: flex;
  align-items: center;
}
#movie-info-photos img{
  margin: 8px;
}

#movie-recommended {
  display: flex;
}

.recommended {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-grow: 1;
}

.recommended-name {
  margin: 0 auto;
  height: auto;
  font-size: 14px;
}