* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
}

#top-bar {
  position: fixed;
  width: 100%;
  height: 64px;
  background: #880000;
  z-index: 1;
}

#side-bar {
  position: fixed;
  top: 64px;
  width: 180px;
  height: calc(100vh - 64px);
  text-align: center;
}

#side-bar ul,
#side-bar li {
  list-style: none;
  padding: 0;
}

#side-bar h2 {
  font-size: 16px;
  margin: 20px;
}

#side-bar li {
  width: 100px;
  font-size: 12px;
  margin: 8px auto;
  padding: 4px;
  border-radius: 2px;
  color: white;
  transition: 250ms;
}

.unselected {
  background-color: #888888;
}

.selected {
  background-color: #444444;
}

#side-bar li:hover {
  background-color: #aaaaaa;
}

#side-bar li:active {
  background-color: #cccccc;
}

#side-bar p {
  font-size: 12px;
  margin-top: 20px;
  position: relative;
}

#side-bar select {
  /*width: 60px;*/
  font-size: 12px;
}

#side-bar option {
  font-size: 12px;
}

#contents {
  position: absolute;
  left: 180px;
  top: 64px;
  /*flex: 1 1 0;*/
  height: calc(100vh - 64px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-tile {
  position: relative;
  margin: 20px;
  width: 200px;
  height: 360px;
  text-align: center;
}

[class$="tag"] {
  z-index: 2;
  display: inline-block;
  position: absolute;
  margin: 4px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: white;
  font-size: 12px;
}

.rating-tag {

  bottom: 60px;
  right: 0;
  width: 80px;
}

.genre-tag {
  top: 0;
  left: 0;
  width: 40px;

}

.brief-box {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background-color: #222222aa;
  opacity: 0;
  transition: opacity ease 250ms;
  text-align: left;
  font-size: 12px;
  color: white;
}

.brief-box:hover {
  opacity: 1;
}

.brief-box ul,
.brief-box li {
  list-style: none;
  padding: 0;
  margin: 4px;
}
.brief-box ul{
  margin: auto;
  padding: 20px;
}
.brief-box p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  word-break: break-all;
}
.details-button{
  display: block;
  margin: 0 auto;
  padding: 2px;
  width: 80px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  background-color: #222222;
  cursor: pointer;
}


.details-button:hover {
  background-color: #444444;
}

.details-button:active {
  background-color: #888888;
}
.movie-tile h3 {
  font-family: serif;
}


